body {
    background-color: #EAF6F6;
  }

  hr {
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }

  img{
      border-radius: 100%;
      height: 180px;
      width: 180px;
  }

  h1 {
      color: brown;
  }

  h3 {
      color: green;
  }

    /*Class Selection*/
  .big:hover {
      color: gold;
  }
